<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"/>

        <link rel="stylesheet" href="../css/estilos.css">

        <title>Incidencias</title>

    </head>

    <body class="bg-light">

        <div class="wrapper">

        <!-- HEADER -->
            <header class="bg-primary bg-gradient  py-3">
    
                <h1 class="text-center">GESTIÓN DE INVENTARIO</h1>
        
            </header>

            <nav class="bg-primary bg-gradient">

                <ul class="nav navAdmin">
                    <li class="nav-item" ><a href="./equipos.html" class="nav-link fw-bold aNav">Equipos Electronicos</a></li>
                    <li class="nav-item" ><a href="./categorias.html" class="nav-link fw-bold aNav">Categorías</a></li>
                    <li class="nav-item" ><a href="./aulas.html" class="nav-link fw-bold aNav">Aulas</a></li>
                    <li class="nav-item active" ><a class="nav-link fw-bold aNav">Incidencias</a></li>
                    <li class="nav-item" ><a href="../index.html" class="nav-link fw-bold aNav">Logout</a></li>
                </ul>

            </nav>

        <!-- MAIN -->
            <main class="py-3 mt-3">
                
                <div class="container">

                    <div class="row justify-content-center">

                        <div class="col-12">

                            <div class="table-responsive">

                                <table class="table mx-auto" id="tabla">

                                    <thead id="campos">

                                        <th>Id_Incidencia</th>
                                        <th>Id_Usuario</th>
                                        <th>Id_Equipo</th>
                                        <th>Fecha_Reporte</th>
                                        <th>Descripción</th>
                                        <th>Solución</th>
                                        <th>Estado</th>
                                        <th>Fecha_Actualización</th>
                                        
                                    </thead>

                                    <tbody id="datos">

                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>

            </main>
    
        <!-- FOOTER -->
            <footer>

                <div class="bg-primary bg-gradient py-3 text-center">
                    <img src="../img/logo.png" alt="No se encuentra" class="img-thumbnail">
                </div>

            </footer>
        </div>

        <script src="../Formularios/js/peticionesIncidencias.js"></script>
        
    </body>

</html>