<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"/>

        <link rel="stylesheet" href="../css/estilos.css">

        <title>RegistroUser</title>
        <style>
        </style>

    </head>

    <body class="bg-light">

        <div class="wrapper">

            <header class="bg-primary bg-gradient  py-3">
    
                <h1 class="text-center">GESTIÓN DE INVENTARIO</h1>
        
            </header>

            <nav class="bg-primary bg-gradient">

                <ul class="nav navAdmin">
                    <li class="nav-item dropdown active" ><a class="nav-link fw-bold dropdown-toggle aNav" role="button" data-bs-toggle="dropdown" aria-expanded="false">Equipos Electronicos</a>
                        <ul class="dropdown-menu bg-primary bg-gradient">
                            <li class="text-center active"><a class="dropdown-item liNavSub fw-bold" href="./registrarEquipo.html">Registrar Equipo</a></li>
                            <li class="text-center"><a class="dropdown-item liNavSub fw-bold" href="./equipos.html">Visualizar Equipos</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" ><a class="nav-link fw-bold dropdown-toggle aNav" role="button" data-bs-toggle="dropdown" aria-expanded="false">Incidencias</a>
                        <ul class="dropdown-menu bg-primary bg-gradient">
                            <li class="text-center"><a class="dropdown-item liNavSub fw-bold" href="./registrarIncidencia.html">Registrar Incidencia</a></li>
                            <li class="text-center"><a class="dropdown-item liNavSub fw-bold" href="./incidencias.html">Visualizar Incidencias</a></li>
                        </ul>
                    </li>

                    <li class="nav-item" ><a href="./categorias.html" class="nav-link fw-bold aNav">Categorías</a></li>
                    <li class="nav-item" ><a href="./aulas.html" class="nav-link fw-bold aNav">Aulas</a></li>
                </ul>

            </nav>
            

        <!-- MAIN -->
        <main class="container position-relative">

            <button class="btn btn-danger btnCerrarSesion" onclick="location.href='../index.html'">Cerrar sesión</button>

            <div class="container py-5">

                <h2 class="text-center">Equipos en el inventario</h2>

                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-start datosEquipos">
                         
                        <!-- Agrega más elementos según sea necesario -->
                    </div>
                </div>
                
            </div>
            
          
            
              
        </main>
    
        <!-- FOOTER -->
            <footer>

                <div class="bg-primary bg-gradient py-3 text-center">
                    <img src="../img/logo.png" alt="No se encuentra" class="img-thumbnail">
                </div>

            </footer>
        </div>

        <script src="../js/equipos2.js"></script>
    </body>

</html>